# Created by .ignore support plugin (hsz.mobi)
/wp-content/plugins/
/wp-admin/
wp-content/upgrade/
wp-content/uploads/2015/
wp-content/uploads/2016/02/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentyfifteen/
