# Created by .ignore support plugin (hsz.mobi)
/wp-content/plugins/
/wp-admin/
wp-content/plugins/amp/languages/
wp-content/plugins/contact-form-7/admin/images/
wp-content/plugins/contact-form-7/images/service-icons/
wp-content/plugins/google-analytics-dashboard-for-wp/languages/
wp-content/plugins/hide_my_wp/lang/
wp-content/plugins/hide_my_wp/lib/mute-screamer/libraries/IDS/vendors/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/Test/
wp-content/plugins/jetpack/_inc/genericons/font/
wp-content/plugins/jetpack/_inc/genericons/rtl/
wp-content/plugins/jetpack/_inc/images/
wp-content/plugins/jetpack/_inc/img/
wp-content/plugins/jetpack/_inc/jetpack-icons/
wp-content/plugins/jetpack/_inc/scss/
wp-content/plugins/jetpack/modules/blavatar/
wp-content/plugins/jetpack/modules/gplus-authorship/
wp-content/plugins/jetpack/modules/xml-sitemap/
wp-content/plugins/jetpack/wpcom-test-backup/
wp-content/plugins/popups/public/assets/img/
wp-content/plugins/updraftplus/addons/
wp-content/plugins/updraftplus/vendor/guzzle/guzzle/tests/
wp-content/plugins/updraftplus/vendor/guzzle/http/
wp-content/plugins/updraftplus/vendor/rackspace/php-opencloud/tests/
wp-content/plugins/wordfence/lib/Diff/Renderer/Text/
wp-content/plugins/wp-portfolio/cache/
wp-content/upgrade/
wp-content/uploads/2015/
wp-content/uploads/2016/02/
/wp-content/themes/Avada/
/wp-content/themes/Avada-Child-Theme/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentyfifteen/
