
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /webofpat.io/
RewriteRule ^index\.php$ - [L]
RewriteRule ^modules/5cc9c210/(.*) /webofpat.io/wp-content/plugins/admin-custom-login/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/9cf3841d/(.*) /webofpat.io/wp-content/plugins/advanced-custom-fields/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/95f0f3f2/(.*) /webofpat.io/wp-content/plugins/advanced-sidebar-menu/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/42229d83/(.*) /webofpat.io/wp-content/plugins/akismet/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f471e31b/(.*) /webofpat.io/wp-content/plugins/amp/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/dc869d27/(.*) /webofpat.io/wp-content/plugins/autoptimize/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/7dc084a1/(.*) /webofpat.io/wp-content/plugins/bbpress/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/b2248619/(.*) /webofpat.io/wp-content/plugins/better-font-awesome/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f1e10d34/(.*) /webofpat.io/wp-content/plugins/bwp-recaptcha/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/7d6d87ff/(.*) /webofpat.io/wp-content/plugins/black-studio-tinymce-widget/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8fd9de10/(.*) /webofpat.io/wp-content/plugins/broken-link-checker/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/b642276f/(.*) /webofpat.io/wp-content/plugins/buddypress/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8cc3ba2f/(.*) /webofpat.io/wp-content/plugins/bulletproof-security/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/2ee1b028/(.*) /webofpat.io/wp-content/plugins/coming-soon/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c12e3480/(.*) /webofpat.io/wp-content/plugins/contact-form-7/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8fe5b352/(.*) /webofpat.io/wp-content/plugins/contact-form-7-mailchimp-extension/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/58573637/(.*) /webofpat.io/wp-content/plugins/cookie-notice/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/56cac98c/(.*) /webofpat.io/wp-content/plugins/divi-builder/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f5a9430c/(.*) /webofpat.io/wp-content/plugins/dw-reactions/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f64f631b/(.*) /webofpat.io/wp-content/plugins/easy-fancybox/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/0b4daef4/(.*) /webofpat.io/wp-content/plugins/yikes-inc-easy-mailchimp-extender/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/83d30025/(.*) /webofpat.io/wp-content/plugins/stops-core-theme-and-plugin-updates/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c97f3185/(.*) /webofpat.io/wp-content/plugins/easy-wp-smtp/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/1c0b91d7/(.*) /webofpat.io/wp-content/plugins/elegant-themes-updater/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/19e5c596/(.*) /webofpat.io/wp-content/plugins/ewww-image-optimizer/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/0ecbcfcd/(.*) /webofpat.io/wp-content/plugins/fusion-core/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/b3ca4758/(.*) /webofpat.io/wp-content/plugins/gd-webfonts-toolbox-lite/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/2090daf1/(.*) /webofpat.io/wp-content/plugins/google-analytics-for-wordpress/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8c3b08eb/(.*) /webofpat.io/wp-content/plugins/google-analytics-dashboard-for-wp/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/21de7df1/(.*) /webofpat.io/wp-content/plugins/google-font-manager/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c0a82da3/(.*) /webofpat.io/wp-content/plugins/google-sitemap-generator/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/ad361cc1/(.*) /webofpat.io/wp-content/plugins/igniteup/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f83eb02e/(.*) /webofpat.io/wp-content/plugins/imagify/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/ae500044/(.*) /webofpat.io/wp-content/plugins/better-wp-security/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/0f45d2e0/(.*) /webofpat.io/wp-content/plugins/jetpack/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/84477ce9/(.*) /webofpat.io/wp-content/plugins/LayerSlider/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/32d03449/(.*) /webofpat.io/wp-content/plugins/loginizer/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/bf0ba74e/(.*) /webofpat.io/wp-content/plugins/login-page-styler/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f1c482e3/(.*) /webofpat.io/wp-content/plugins/maintenance/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f1c4c792/(.*) /webofpat.io/wp-content/plugins/worker/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/ef70a61e/(.*) /webofpat.io/wp-content/plugins/master-slider/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/d63b6ff4/(.*) /webofpat.io/wp-content/plugins/megamenu/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8bc11409/(.*) /webofpat.io/wp-content/plugins/nextgen-gallery/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/26addc19/(.*) /webofpat.io/wp-content/plugins/social-networks-auto-poster-facebook-twitter-g/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/675d5537/(.*) /webofpat.io/wp-content/plugins/onet-regenerate-thumbnails/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/175c50e4/(.*) /webofpat.io/wp-content/plugins/p3-profiler/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/1a830027/(.*) /webofpat.io/wp-content/plugins/siteorigin-panels/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c23775a8/(.*) /webofpat.io/wp-content/plugins/popups/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/ebf4b56e/(.*) /webofpat.io/wp-content/plugins/profile-builder/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f43a58d7/(.*) /webofpat.io/wp-content/plugins/regenerate-thumbnails/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8f735084/(.*) /webofpat.io/wp-content/plugins/register-ip-multisite/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/d0896f5e/(.*) /webofpat.io/wp-content/plugins/reveal-ids-for-wp-admin-25/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/be9344a9/(.*) /webofpat.io/wp-content/plugins/search-everything/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/a6eaea9e/(.*) /webofpat.io/wp-content/plugins/seo-image/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/4a1f86bf/(.*) /webofpat.io/wp-content/plugins/shareaholic/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/6eccc7f7/(.*) /webofpat.io/wp-content/plugins/si-captcha-for-wordpress/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c064d3f1/(.*) /webofpat.io/wp-content/plugins/revslider/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/71d7ae50/(.*) /webofpat.io/wp-content/plugins/social-media-feather/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/6680dfc6/(.*) /webofpat.io/wp-content/plugins/svg-support/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f83d1287/(.*) /webofpat.io/wp-content/plugins/the-events-calendar/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c8983d4a/(.*) /webofpat.io/wp-content/plugins/theme-check/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/a7dd6c18/(.*) /webofpat.io/wp-content/plugins/tinymce-advanced/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/1a46df8e/(.*) /webofpat.io/wp-content/plugins/kt-tinymce-color-grid/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/be842922/(.*) /webofpat.io/wp-content/plugins/tinymce-smiley-button/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/ece0edb4/(.*) /webofpat.io/wp-content/plugins/updraftplus/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/1564f037/(.*) /webofpat.io/wp-content/plugins/video-embed-thumbnail-generator/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/0017bdcf/(.*) /webofpat.io/wp-content/plugins/vipers-video-quicktags/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/b102463a/(.*) /webofpat.io/wp-content/plugins/vod-infomaniak/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/118bb7cf/(.*) /webofpat.io/wp-content/plugins/w3-total-cache/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/5744894d/(.*) /webofpat.io/wp-content/plugins/wangguard/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/cfb856ac/(.*) /webofpat.io/wp-content/plugins/wordfence/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/8f305556/(.*) /webofpat.io/wp-content/plugins/wordpress-backup-to-dropbox/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/f8c0d413/(.*) /webofpat.io/wp-content/plugins/wp-portfolio/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/88dc80ee/(.*) /webofpat.io/wp-content/plugins/wpsso/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/aa9482d0/(.*) /webofpat.io/wp-content/plugins/wp-advanced-search/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/0425c7ff/(.*) /webofpat.io/wp-content/plugins/wp-jquery-lightbox/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/79de4da7/(.*) /webofpat.io/wp-content/plugins/wp-optimize/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/1c530cc2/(.*) /webofpat.io/wp-content/plugins/wp-pagenavi/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/7698ef16/(.*) /webofpat.io/wp-content/plugins/wp-polls/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/dc87263e/(.*) /webofpat.io/wp-content/plugins/wp-maintenance-mode/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/61425564/(.*) /webofpat.io/wp-content/plugins/wp-migrate-db/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/eb4f0987/(.*) /webofpat.io/wp-content/plugins/wp-retina-2x/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/257fe25c/(.*) /webofpat.io/wp-content/plugins/wp-smushit/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/c75eda4c/(.*) /webofpat.io/wp-content/plugins/wp-user-avatar/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/50808016/(.*) /webofpat.io/wp-content/plugins/wysiwyg-widgets/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/a60d3a9d/(.*) /webofpat.io/wp-content/plugins/yith-maintenance-mode/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/56498894/(.*) /webofpat.io/wp-content/plugins/wordpress-seo/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^lib/(.*) /webofpat.io/wp-includes/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^file/(.*) /webofpat.io/wp-content/uploads/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^modules/(.*) /webofpat.io/wp-content/plugins/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^template/main\.css /webofpat.io/index.php?style_wrapper=1&AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^template/style.css /webofpat.io/nothing_404_404?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^template/(.*) /webofpat.io/wp-content/themes/Avada-Child-Theme/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^template_main/style.css /webofpat.io/index.php?parent_wrapper=1&AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^Avada/(.*) /webofpat.io/wp-content/themes/Avada/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^template_main/(.*) /webofpat.io/wp-content/themes/Avada/$1?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^do_ajax\.php /webofpat.io/wp-admin/admin-ajax.php?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^user_submit\.php /webofpat.io/wp-comments-post.php?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^wp-content/themes/Avada-Child-Theme/screenshot\.png|readme\.html|license\.txt|wp-content/debug\.log|wp-includes/$ /webofpat.io/nothing_404_404?AEgG_hide_my_wp=1234 [QSA,L]
RewriteRule ^(((wp-content|wp-includes)/([A-Za-z0-9\-\_\/]*))|(wp-admin/(!network\/?)([A-Za-z0-9\-\_\/]+)))(\.txt|/)$ /webofpat.io/nothing_404_404?AEgG_hide_my_wp=1234 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /webofpat.io/index.php [L]
</IfModule>

# END WordPress